<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325466526937-l9mf6m3ulpka5qmfi9kfsf3kmmqehfgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325466526937-l9mf6m3ulpka5qmfi9kfsf3kmmqehfgc</string>
	<key>API_KEY</key>
	<string>AIzaSyBzOot5vot988IhdymlFm1qhB-OoVBAuIE</string>
	<key>GCM_SENDER_ID</key>
	<string>325466526937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driving-course-management.app</string>
	<key>PROJECT_ID</key>
	<string>codenteq-d84d9</string>
	<key>STORAGE_BUCKET</key>
	<string>codenteq-d84d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325466526937:ios:0a01ca9bd706584fc61ac8</string>
</dict>
</plist>